// 通用属性
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 12px/100% "Microsoft YaHei";
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

img {
    display: block;
    border: none;
}

@function pr($p) {
    @return $p/41.4+rem;
}

.container {
    position: relative; // 搜索条
    // display: none;
    .header {
        // 子盒子如果没有设置宽度,脱标后将无法显示
        position: fixed;
        width: 100%;
        height: pr(40);
        background-color: #f6f6f6;
        border-bottom: 1px solid #ccc;
        padding: pr(5) pr(10);
        display: flex;
        .searchbar {
            height: pr(30);
            border-radius: pr(5);
            padding-left: pr(30);
            border: 1px solid #666;
            flex: 1;
            background: url('../imgs/glass.png') no-repeat;
            background-size: pr(20) auto;
            background-position: pr(5) center;
            background-color: #fff;
        }
        span {
            flex-basis: pr(50);
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: pr(20);
            }
        }
    }
    .main {
        background-color: #dddddd; //轮播图
        padding: pr(0) pr(5);
        .banner {
            padding-top: pr(40);
            margin: pr(0) pr(-5);
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 100%;
                    }
                }
            }
            .swiper-pagination {
                text-align: right;
                .swiper-pagination-bullet-active {
                    width: pr(15);
                    border-radius: pr(10);
                }
            }
        } // 导航条
        .navbar {
            padding: pr(10) pr(0);
            display: flex;
            margin-top: pr(5);
            border-radius: pr(10);
            background-color: #fff;
            a {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                img {
                    width: pr(64);
                }
                span {
                    margin-top: pr(5);
                }
            }
        } //主体部分
        .center {
            margin-top: pr(5);
            .section {
                display: flex;
                height: pr(80);
                margin-bottom: pr(5);
                .left {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    padding-top: pr(20);
                    border-right: 1px solid #fff;
                    a {
                        color: white;
                    }
                }
                .right {
                    flex: 2;
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50%;
                        color: white;
                        &:nth-child(1),
                        &:nth-child(3) {
                            border-right: 1px solid #fff;
                        }
                        &:nth-child(1),
                        &:nth-child(2) {
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
            .section1 {
                border-top-left-radius: pr(10);
                border-top-right-radius: pr(10);
                background: linear-gradient(to right, #fa5c55, #fa9a4e);
                .left {
                    background: url('../imgs/item1.png') center bottom/pr(90) auto no-repeat;
                }
            }
            .section2 {
                background: linear-gradient(to right, #4b91ed, #53b9ed);
                .left {
                    background: url('../imgs/item2.png') center bottom/pr(90) auto no-repeat;
                }
            }
            .section3 {
                border-bottom-left-radius: pr(10);
                border-bottom-right-radius: pr(10);
                background: linear-gradient(to right, #34c2a7, #6ad35b);
                .left {
                    background: url('../imgs/item3.png') center bottom/pr(90) auto no-repeat;
                }
            }
        } //底部导航栏
        .subnav {
            display: flex;
            flex-wrap: wrap;
            height: pr(85);
            border-radius: pr(10);
            background-color: #fff;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 16.666666%;
                img {
                    width: pr(24);
                }
            }
        }
    }
}

.searchpage {
    position: relative; // 搜索条
    display: none;
    .header {
        // 子盒子如果没有设置宽度,脱标后将无法显示
        position: fixed;
        width: 100%;
        height: pr(40);
        background-color: #e6f0f7;
        border-bottom: 1px solid #ccc;
        padding: pr(5) pr(10);
        display: flex;
        img {
            width: pr(30);
            margin-right: pr(5);
        }
        .searchbar {
            height: pr(30);
            border-radius: pr(5);
            border: 1px solid #666;
            padding-left: pr(25);
            flex: 1;
            background: url('../imgs/glass.png') no-repeat;
            background-size: pr(20), auto;
            background-position: pr(5) center;
            background-color: #fff;
        }
        a {
            flex-basis: pr(50);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(114, 114, 114);
            font-size: pr(18);
        }
    }

    .searchinfo {
        padding-top: pr(40);
        display: none;

        p {
            height: pr(35);
            line-height: pr(35);
            font-size: pr(16);
            padding-left: pr(10);
            background-color: #f6f6f6;
            color: rgb(146, 146, 146);
        }

        .searchList {
            li {
                height: pr(50);
                line-height: pr(50);
                border-top: 1px solid #999;
                padding-left: pr(25);
                font-size: pr(16);
            }
            .clear {
                text-align: center;
                color: #4b91ed;
            }
        }
    }
}